.header__icon{
    object-fit: cover;
    height: 100px;
    margin-left: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;   /* veut dire quil va etre coller mm si on scroll */
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
   
}
.header__center{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 999px;
}
.header__center > input{
    border: none;
    padding: 10px;
    
    outline-width: 0;  /* pour que qu'on on clique matjich f input carré */
    /* width: 250px; */
}
.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    margin-right: 70px;
}